version: 2
jobs:
  build:
    docker:
      - image: winch/golang
        auth:
          username: $DOCKERHUB_USERNAME
          password: $DOCKERHUB_PASSWORD
{{- if eq .Language "go"}}
    working_directory: /go/src/{{withoutscheme .Repository}}
{{- else if eq .Language "node"}}
    working_directory: ~/repo
{{- end}}
    steps:
      - checkout
      - setup_remote_docker
{{- if eq .Language "go"}}
      - restore_cache:
          keys:
            - dependencies-v1-{{"{{"}} checksum "go.sum" {{"}}"}}
{{- else if eq .Language "node"}}
      - restore_cache:
          keys:
            - dependencies-v1-{{"{{"}} checksum "package.json" {{"}}"}}
{{- end}}
      - run:
          name: Turn the handle
          command: winch ci
{{- if eq .Language "go"}}
      - save_cache:
          key: dependencies-v1-{{"{{"}} checksum "go.sum" {{"}}"}}
{{- else if eq .Language "node"}}
      - save_cache:
          key: dependencies-v1-{{"{{"}} checksum "package.json" {{"}}"}}
{{- end}}
{{- if eq .Language "go"}}
          paths:
            - "/go/pkg/mod"
{{- else if eq .Language "node"}}
          paths:
            - "node_modules"
{{- end}}
workflows:
  version: 2
  workflow:
    jobs:
      - build:
          context: DockerHubUpdater
