name: Build
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: {{ `${{ secrets.GITHUB_TOKEN }}` }}
      DOCKERHUB_USERNAME: {{ `${{ secrets.DOCKERHUB_USERNAME }}` }}
      DOCKERHUB_PASSWORD: {{ `${{ secrets.DOCKERHUB_PASSWORD }}` }}
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true
        token: {{ `${{ secrets.GITHUB_TOKEN }}` }}
    - uses: actions/cache@v1
      with:
        path: /home/runner/go
        key: {{ `v1-pom-xml-${{ hashFiles('pom.xml') }}` }}
        restore-keys: v1-pom-xml-
    - uses: winchci/actions-java@v1
