name: Build
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: {{ `${{ secrets.GITHUB_TOKEN }}` }}
      NPM_TOKEN: {{ `${{ secrets.NPM_TOKEN }}` }}
      NODE_AUTH_TOKEN: {{ `${{ secrets.GITHUB_TOKEN }}` }}
      TRANSOM_URL: {{ `${{ secrets.TRANSOM_URL }}` }}
      TRANSOM_USERNAME: {{ `${{ secrets.TRANSOM_USERNAME }}` }}
      TRANSOM_PASSWORD: {{ `${{ secrets.TRANSOM_PASSWORD }}` }}
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true
        token: {{ `${{ secrets.GITHUB_TOKEN }}` }}
    - uses: actions/cache@v1
      with:
        path: ~/.npm
        key: {{ `v1-node-dep-${{ hashFiles('package-lock.json') }}` }}
        restore-keys: v1-node-dep-
    - uses: winchci/actions-node@v1
