{{with $changelog := . -}}
{{range .Releases -}}
{{range .Sections}}
{{if .IsBreaking}}
### {{.Title}}
{{range .Commits}}
* {{.Message.BreakingMessage}}
{{- end}}
{{- else -}}
### {{.Title}}
{{range .Commits}}
* {{.Message.ScopePrefix}}{{.Message.Subject}} ([{{.ShortHash}}]({{$changelog.Repository}}/commit/{{.Hash}}))
{{- end}}
{{end}}
{{end}}
{{end}}
{{end}}